<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>

        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="../images/favicon.png" />
        <!-- css -->
        <link rel="stylesheet" href="./css/styles.css" />

        <!-- bootsrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    </head>
    <body class="d-flex flex-row">
        <!-- sidebar -->
        <section class="left-sidebar d-flex">
            <div class="blue-bar d-flex flex-column align-items-center text-center">
                <div class="blue-bar-items d-flex flex-column align-items-center px-2 pt-3 pb-2 w-100">
                    <img src="./images/small_logo.png" alt="small_company_icon" style="width: 34px" />
                </div>
                <div class="blue-bar-items d-flex flex-column align-items-center p-2 w-100">
                    <img src="./images/Home.png" alt="dashboard_icon" />
                    <span>Dashboard</span>
                </div>
                <div class="blue-bar-items d-flex flex-column align-items-center p-2 w-100 item-active">
                    <img src="./images/truck.png" alt="truck_icon" />
                    <span>Cars</span>
                </div>
            </div>
        </section>
        <div class="w-100">
            <!-- navbar -->
            <nav class="navbar p-0 m-0 sticky-top" style="background-color: #fff">
                <div class="container-fluid p-0 d-flex flex-row">
                    <div class="d-flex flex-row flex-grow-1 align-items-center justify-content-between">
                        <!-- hamberger -->
                        <i class="bi bi-list px-3" style="font-size: 24px"></i>

                        <div class="d-flex flex-row align-content-center">
                            <!-- searchbox -->

                            <form class="d-flex ms-auto search-box m-3" method="post" action="/search">
                                <input class="form-control" type="search" placeholder="Search" value="" aria-label="Search" name="search" />
                                <button class="btn btn-outline-primary btn-search" type="submit">Search</button>
                            </form>

                            <!-- user -->
                            <div class="btn-group ms-2 user-setting">
                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                    <img src="./images/company_logo.png" class="rounded-circle" alt="" style="width: 38px; height: 38px; object-fit: cover" />
                                    Trisna Wahyudi
                                </button>
                                <ul class="dropdown-menu dropdown-menu-sm-end">
                                    <li>
                                        <button class="dropdown-item" type="button">Setting</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" type="button">Logout</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- navbar -->
            <div class="p-0 m-0 d-flex">
                <!-- whitebar -->
                <div class="white-bar py-3">
                    <div class="pb-2">
                        <a class="navbar-brand px-4 mb-4" href="/" style="width: 220px">
                            <img src="./images/company_logo.png" alt="company_logo" />
                        </a>
                    </div>
                    <div class="mt-4">
                        <div class="white-bar-item px-4 py-2">
                            <h6 class="py-1">CARS</h6>
                        </div>
                        <div class="white-bar-item px-4 py-2 white-bar-item--active">
                            <h6 class="py-1">List Cars</h6>
                        </div>
                    </div>
                </div>
                <!-- whitebar -->
                <div class="main-container flex-grow-1 m-0 p-4">
                    <!-- breadcrumb -->
                    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/" class="fw-bold text-black text-decoration-none">Cars</a>
                            </li>
                            <li class="breadcrumb-item active">List Car</li>
                        </ol>
                    </nav>
                    <!-- page header -->
                    <div class="pt-2 d-flex justify-content-between">
                        <h4 class="fw-bold">List Car</h4>
                        <a href="/create-car">
                            <button class="btn btn-add-car float-end"><i class="bi bi-plus-lg me-2"></i>Add New Car</button>
                        </a>
                    </div>
                    <!-- filter buttons -->
                    <div class="py-3 d-flex justify-content-start">
                        <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/'" id="filterAll">All</button>
                        <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/1'" id="filterSmall">Small</button>
                        <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/2'" id="filterMedium">Medium</button>
                        <button class="btn btn-outline-primary btn-filter-size me-3" onclick="location.href='/3'" id="filterLarge">Large</button>
                    </div>

                    <script>
                        const rupiah = (number) => {
                            return new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', maximumFractionDigits: 0 }).format(number);
                        };
                        const rp = [];
                    </script>
                    <!-- car cards -->
                    <div class="row card-container w-100">
                        <% for (let i=0; i < cars.length; i++) { %>
                        <div class="mb-3 col-xxl-3 col-xl-4 col-md-6 col-sm-12 col d-flex justify-content-center">
                            <div class="card">
                                <img src="<%= cars[i].car_image %>" class="card-img-top cars-img" alt="..." />
                                <div class="card-body">
                                    <h5 class="card-title"><%= cars[i].car_name %> / <%= cars[i].type.type_name %></h5>
                                    <h3 class="card-text" id="rent_cost<%= cars[i].id %>">
                                        <script>
                                            document.getElementById('rent_cost<%= cars[i].id %>').innerHTML = rupiah('<%= cars[i].rent_cost%>');
                                        </script>
                                        / hari
                                    </h3>
                                    <div class="d-flex justify-content-start available-at">
                                        <i class="bi bi-clock me-3"></i>
                                        <p class="align-self-center mb-0">Updated at <%=moment(cars[i].updatedAt).format('MMMM Do YYYY, h:mm:ss a');%></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="d-flex justify-content-between">
                                                <!-- <a href="/delete-car/<%=cars[i].id%>">
                                                    <button class="btn btn-delete-cars">
                                                        <i class="bi bi-trash3 me-1"></i>
                                                        Delete
                                                    </a>
                                                </button> -->
                                                <button onclick="confirmDelete('<%= cars[i].id%>')" class="btn btn-delete-cars">
                                                    <i class="bi bi-trash3 me-1"></i>
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="d-flex justify-content-between">
                                                <button class="btn btn-edit-cars" onclick="location.href='/update-car/<%=cars[i].id%>'">
                                                    <i class="bi bi-pencil-square me-1"></i>
                                                    <a>Edit</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- sweet alert 2 cdn -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="./scripts/confirmDelete.js"></script>
        <script src="./scripts/activeFilter.js"></script>
        <!-- bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>
